<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>kino-slides Demo</title>

    <script src="../platform/platform.js"></script>
    <link rel="import" href="kinolayouts.html">
    <style>
        .slide{
            border:1px solid blue;
            display:block;
            height:800px;
        }
    </style>
</head>
<body unresolved >

    <section class="slide">
        <layout-title-content>
            <box-title>In love with traditional slides? (Title-Content)</box-title>
            <box-content>We also support <b>Power Point Style Layouts</b><br>
                <ul>
                    <li>Title</li>
                    <li>Title Content</li>
                    <li>Title Only</li>
                    <li>Section Header</li>
                    <li>Two Content</li>
                    <li>Content only</li>
                    <li>etc.</li>
                </ul>
            </box-content>
        </layout-title-content>
    </section>
    <section class="slide">
        <layout-title-slide>
            <box-title>Title for the slide (Title Slide)</box-title>
            <box-subtitle>Subtitle.</box-subtitle>
        </layout-title-slide>
    </section>
    <section class="slide">
        <layout-title-only>
            <box-title>Only Title Layout</box-title>
        </layout-title-only>
    </section>
    <section class="slide">
        <layout-section-header>
            <box-subtitle>Section Info</box-subtitle>
            <box-title>Section Name</box-title>
        </layout-section-header>
    </section>
    <section class="slide">
        <layout-content-only>
            <box-content>
                Content only Layout, only contents can be added.
            </box-content>
        </layout-content-only>
    </section>
    <section class="slide">
        <layout-two-content>
            <box-title>Slide title</box-title>
            <box-content class="left">Left content
                <ul>
                    <li>point 1</li>
                    <li>point 2</li>
                </ul>
            </box-content>
            <box-content class="right">Right content
                <ul>
                    <li>point 1</li>
                    <li>point 2</li>
                    <li>point 3</li>
                    <li>point 4</li>
                </ul>
            </box-content>
        </layout-two-content>
    </section>

</body>
</html>
