<x-meta id="layout-blank" label="Blank" isContainer group="KinoLayout">

    <template>
        <layout-blank/>
    </template>

    <template id="imports">
        <link rel="import" href="layout-blank.html">
    </template>

</x-meta>

<x-meta id="layout-contentonly" label="Content Only" isContainer group="KinoLayout">

    <template>
        <layout-contentonly/>
    </template>

    <template id="imports">
        <link rel="import" href="layout-content-only.html">
    </template>

</x-meta>


<x-meta id="layout-title" label="Title" isContainer group="KinoLayout">

    <template>
        <layout-title/>
    </template>

    <template id="imports">
        <link rel="import" href="layout-title-slide.html">
    </template>

</x-meta>


<x-meta id="layout-titlecontent" label="Title Content" isContainer group="KinoLayout">

    <template>
        <layout-titlecontent/>
    </template>

    <template id="imports">
        <link rel="import" href="layout-title-content.html">
    </template>

</x-meta>

<x-meta id="layout-sectionheader" label="Section Header" isContainer group="KinoLayout">

    <template>
        <layout-sectionheader/>
    </template>

    <template id="imports">
        <link rel="import" href="layout-section-header.html">
    </template>

</x-meta>

<x-meta id="layout-twocontent" label="Two Content" isContainer group="KinoLayout">

    <template>
        <layout-twocontent/>
    </template>

    <template id="imports">
        <link rel="import" href="layout-two-content.html">
    </template>

</x-meta>

<x-meta id="title-box" label="Title Box" isContainer group="KinoLayout">

    <template>
        <title-box/>
    </template>

    <template id="imports">
        <link rel="import" href="box-title.html">
    </template>

</x-meta>


<x-meta id="subtitle-box" label="SubTitle Box" isContainer group="KinoLayout">

    <template>
        <subtitle-box/>
    </template>

    <template id="imports">
        <link rel="import" href="box-subtitle.html">
    </template>

</x-meta>

<x-meta id="content-box" label="Content Box" isContainer group="KinoLayout">

    <template>
        <content-box/>
    </template>

    <template id="imports">
        <link rel="import" href="box-content.html">
    </template>

</x-meta>
